.scroll-down.light span {
    font-size: 12px;
}

#dark-mode {
    font-size: 28px;
}

.logo-cuntry {
    margin: 0px 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1px;
    background: red;
}
